#comment-wrap {}
/* #comment-wrap li {
    display: inline-block;
}
.comment-wrap li + li:before {
    display: inline-block;
}
*/
#comment-wrap .disqus_label{
  float:left;
  text-align:center;
}

#comment-wrap .ds-label{
  float:right;
  text-align:center;
}
