/******************************************************
 * I copied these styles from markdotto.com, who is
 * the creator of bootstrap, and I also did some
 * modification. Thanks Mark for the beautiful theme,
 * so I reserved the @mdo sign below.
 *****************************************************/

/*
  __
  __                  /\ \
  /'_`\_    ___ ___    \_\ \    ___
  /'/'_` \ /' __` __`\  /'_` \  / __`\
  /\ \ \L\ \/\ \/\ \/\ \/\ \L\ \/\ \L\ \
  \ \ `\__,_\ \_\ \_\ \_\ \___,_\ \____/
  \ `\_____\\/_/\/_/\/_/\/__,_ /\/___/
  `\/_____/

*/



/* Body resets
   -------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
    /*Menlo, Monaco, monospace*/
    font-size: 14px;
    line-height: 1.5;
    color: #f0fff0;
    background-color: #1090c0;
}
p {
    margin: 0 0 20px;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}
h1 {
    font-size:20px;
}
h2, h3, h4 {
    font-size:18px;
}
h1, h2, h3, h4{
    position: relative;
    margin: 30px 0 20px;
    font-weight: bold;
    line-height: 1.1;
    color: #ffaa00;
    text-rendering: optimizeLegibility;
}
h2:before, h3:before, h4:before {
    position: absolute;
    top: auto;
    color: #cfc;
    display: inline;
}
h2:before {
    content: "*";
    left: -1.25em;
}
h2 {left: 1.25em;}
h3:before {
    content: "**";
    left: -2em;
}
h3 {left: 2em;}
h4:before {
    content: "***";
    left: -2.5em;
}
h4 {left: 2.5em;}
#table-of-contents > h2 {
    left: 0;
}
#table-of-contents > h2:before {
    content: none;
}

i, em, b, strong {
    padding-left: .1em;
    padding-right: .1em;
}
b, strong {
    font-weight: bold;
    color: #00ffff;
}
b:before, b:after, strong:before, strong:after {
    content: "*";
}
i:before, i:after, em:before, em:after {
    content: "/";
}
hr {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #e2e3e4;
}
ul, ol {
    padding: 0;
    margin: 0 0 20px;
}
code, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.9em;
}
.underline {
    text-decoration: underline;
    color: #3aff3a;     
}
.underline:before, .underline:after {
    content: "_";
    color: #3aff3a;
}
code {
    background: #008f0f;
    border-radius: 5px;
    color: #ffa0f0;
}
code:before, code:after {
    content: "=";
    color: #cfc;
}
pre {
    display: block;
    margin: 0 0 14px;
    padding: 15px;
    border: 1px solid #e1e1e8;
    border-radius: 3px 3px 3px 3px;
    line-height: 28px;
    background-color: #000000;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
pre.src {
    padding-top: 1.2em;
    position: relative;
}
pre.src:before {
  display: none;
  position: absolute;
  background-color: white;
  top: -18px;
  right: 10px;
  padding: 3px;
  border: 1px solid black;
}
pre.src:hover:before {
  display: inline;
  background-color: #000000;
  border: 1px solid #e1e1e8;
}
pre.src-sh:before    { content: 'sh'; }
pre.src-bash:before  { content: 'sh'; }
pre.src-shell:before  { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-C:before     { content: 'C/C++'; }
pre.src-js:before    { content: 'js'}
pre.src-matlab:before  { content: 'matlab'; }
pre.src-maxima:before  { content: 'maxima'; }
pre.src-lisp:before   { content: 'common lisp'; }

pre.example { background-color: #008f0f; color: #ffa0f0;}

.verse {
    color: #afa;
    text-indent: 0;
}

blockquote {
    padding: 0 0 0 20px;
    margin: 0 30px 20px -22.5px;
    color: #afa;
    border-left: 8px solid #e5e5e5;
}
blockquote p:last-child {
    margin-bottom: 0;
}
img {
    display: block;
    margin: 0;
    border-radius: 5px;
}
span img{
    display: inline;
}
a {
    font-weight: inherit;
    line-height: inherit;
    color: #ffff00;
    text-decoration: none;
}
sup a:before {
    content: "[";
}
sup a:after {
    content: "]";
}
a:hover {
    text-decoration: underline;
    color: #00ffff;
}
table {
    line-height: 2.5;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
}
table td, table th {
    padding: 0 15px;
}
table th.left, table td.left {
    text-align: left;
}
table th.right, table td.right {
    text-align: right;
}
.figure p + p {
    text-align: center;
}

/******************************************************/
/* body */
.container {
    margin: 0 auto;
    max-width: 770px;
}
/* head */
.masthead {
    color: #ada;
    border-bottom: 1px solid #e2e3e4;
}

.masthead a {
    color: #ffff00;
}
.masthead a:hover {
    text-decoration: underline;
    color: #00ffff;
}
.masthead ul {
  list-style: none;
  margin: 8px 0;
}
.masthead li {
    display: inline-block;
}
.masthead li + li:before {
    display: inline-block;
    content: "\00B7 \00a0";
    color: #cfc;
}

/*site-nav*/
.site-nav {border-top: 1px solid #e8e8e8;}
.site-nav .menu-icon { display: none; }
.site-nav li a {line-height: 1.5; }
.site-nav li a:not(:first-child) { margin-left: 20px; }


/* searchform*/
#searchform {
    position: absolute;
    top: 54px;
    right: 30.4%;
}
#searchform #s {
    background: url("/media/img/search.png") no-repeat 5px 6px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #dfd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    width: 90px;
    height: 30px;
    line-height: 12px;
    padding: 4px 10px 4px 28px;

    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
}
#searchform #s:focus {
    background-color: #f9f9f9;
    width: 160px;
}
.masthead img.avatar {
    position: absolute;
    width: 200px;
    top: 100px;
    right: 29%;
    background-color: #fff;
}
/* post */
.post {
    position: relative;
    border-bottom: 1px solid #e2e3e4;
}

.post img {
    max-width: 100%;
}
.post li {
    list-style: none outside none;
}
.post ul > li:before {
    content: "- ";
    margin-left: -0.25em;
    color: #cfc;
}
.post .org-ul-up > li:before {
    content: "";
}
.post .org-ul-up > li > span {
    position:relative;
    float:left;
    width:100%;
}
.post .org-ul-up > li > span > span {
    float:right;
    text-align:right;
}
.post .org-ul-down > li {
    display: inline-block;
}
.post .org-ul-down > li:before {
    content: " : ";
    margin-left: 0em;
}
.post .org-ul-down > li a {
    background: #008f0f;
}
.post ol {
    counter-reset: o-list;
}
.post ol > li:before {
    content: counter(o-list) ") ";
    counter-increment: o-list;
    color: #cfc;
}

/* special for li in pre */
.post pre li {
    list-style-type: decimal;
}

.post pre li:before {
    display: none;
}

/* meta info */
.post-info {
    display: inline-block;
    margin: -10px 0 -10px;
    color: #ffff00;
}
.post-info + .post-info:before {
    content: "\2223 \00a0";
}

.center { margin-left: auto; margin-right: auto; text-align: center; }
.org-center { margin-left: auto; margin-right: auto; text-align: center; }

/* table of content */
#table-of-contents {
    position: fixed;
    right: 0em;
    top: 0em;
    background: black;
    border:1px solid #e1e1e8;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: center;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto; 
    z-index: 100;
}

#table-of-contents h2 {
    
    max-width: 20em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em; 
}

#table-of-contents ul {
    margin-left: 14pt; 
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}


/* footer */
.footer {
    margin: 80px 0 0;
    text-align: center;
    font-size: 15px;
    color: #cfc;
}
.footer > p {
    margin: 0;
    line-height: 1.5;
}
.footdef {
    margin: 0 0 20px;
}
.footpara {
    display: inline;
}

/* Responsive
   -------------------------------------------------- */

/* site-nav*/
@media screen and (max-width: 512px) {    
  .site-nav {border-top: 1px solid #e8e8e8; text-align: left; }
  .site-nav .menu-icon { display: block; width: 36px; height: 21px; line-height: 0; margin-top: 10px; margin-bottom: 5px; text-align: center;
                         }
  .site-nav .menu-icon > svg { width: 18px; height: 15px; }
  .site-nav .menu-icon > svg path { fill: #ffff00; }
  .site-nav .trigger { clear: both; display: none; }
  .site-nav:hover .trigger { display: block; padding-bottom: 5px; }
  .site-nav li{ display: block; padding: 5px 10px; }
  .site-nav li:before{ display: inline-block; content: "\00B7 \00a0"; color: #cfc;}}

/* whole page */
@media (min-width: 768px) {
    /* Increase body padding and font-sizes */
    body {
        padding: 30px;
        font-size: 18px;
        line-height: 1.75;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 30px;
    }
}
